@charset "UTF-8";

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.index-heading1 {
	background-color: tomato;
	color: black;
	font-family: 'Ubuntu';
	text-decoration: underline;
	font-size: 227%;
	padding-left: 55px;
	text-decoration-thickness: 7px;
	border-radius: 13px;
}

.index-welcome-login {
	background-color: #0f004f;
	color: chartreuse;
	font-family: 'Ubuntu';
	height: 100%;
}

.inner-login-div {
	background-color: #001e34;
	height: 39%;
	width: 57%;
	border-style: double;
	padding-bottom: 50px;
}

#red-med-text {
	text-align: center;
	color: red;
	text-decoration: underline chartreuse;
	text-decoration-thickness: 1px;
}

html, body {
	height: 100%;
	background-color: rgba(54, 202, 197, 0.8);
	background-image: repeating-linear-gradient(120deg, rgba(255, 255, 255, .1),
		rgba(255, 255, 255, .1) 3px, transparent 3px, transparent 60px),
		repeating-linear-gradient(60deg, rgba(255, 255, 255, .1),
		rgba(255, 255, 255, .1) 1px, transparent 3px, transparent 60px),
		linear-gradient(60deg, rgba(139, 139, 139, .6) 25%, transparent 25%,
		transparent 75%, rgba(139, 139, 139, .6) 75%, rgba(139, 139, 139, .6)),
		linear-gradient(120deg, rgba(139, 139, 139, .6) 25%, transparent 25%,
		transparent 75%, rgba(139, 139, 139, .6) 75%, rgba(139, 139, 139, .6));
	background-size: 70px 120px;
	opacity: 95%;
}

.submit-btn:hover {
	background-color: chartreuse;
	color: #001539;
}

.dog1 {
	float: right;
	padding-top: 10px;
	padding-right: 100px;
}

.dog5 {
	float: right;
	padding-top: 50px;
	padding-bottom: 230px;
	padding-left: 20px;
	padding-right: 30px;
}

.dog9 {
	float: left;
	padding-top: 320px;
	padding-left: 30px;
}

.submit-btn {
	background-color: #00a09d;
	border: none;
	color: #1f0078;
	padding: 7px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 200%;
	border-radius: 10px;
}

.another-submit-btn:hover {
	background-color: yellow;
	color: black;
}

/*================== THIS MARKS BELOW THE CSS EXCLUSIVE TO USERREGISTER.JSP ================================================*/
.table1 {
	border: 1px, solid;
	border-color: #96bf3f;
	color: black;
	background-color: #00ffff;
	border-radius: 10px;
	padding: 27px;
}

.reg-div1 {
	background-color: #2ec27e;
	margin: auto;
	width: 50%;
	border: 6px solid green;
	padding-bottom: 17px;
	border-style: inset;
	border-radius: 10px;
}

reg-div1, table {
	border-style: outset;
	border-radius: 10px;
}

.another-submit-btn {
	background-color: #bf3f3f;
	border: none;
	color: #f1ff00;
	padding: 7px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 200%;
	border-style: inset;
	border-radius: 10px;
}

.tomato-input {
	background-color: tomato;
	color: black;
	border-radius: 9px;
	font-size: 100%;
}

.tomato-input:hover {
	background-color: #e01b24;
	color: black;
	border-radius: 9px;
	font-size: 113%;
}

.another-submit-btn:hover {
	background-color: yellow;
	color: black;
}

/*============== BELOW: CODE EXCLUSIVE TO PETFEEDER MAIN PAGE =============================*/
.edit-delete-btns {
	color: magenta;
}

.logout-btn-div {
	float: right;
	background-color: tomato;
	padding-right: 111px;
	padding-top: 13px;
}

.logout-btn {
	background-color: #00056e;
	color: #f6d32d;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 90%;
	border-style: inset;
	border-radius: 10px;
	padding: 2px;
}

.logout-btn:hover {
	background-color: chartreuse;
	color: #ff0000;
}

.main-div {
	background-color: #00c832;
	height: 77%;
	width: 97%;
	position: center;
	border-style: double;
	border-width: 10px;
	margin: auto;
	border-radius: 23px;
	margin: auto;
}

#main-page-message {
	color: #cc0000;
	font-size: 300%;
}

#main-page-heading {
	color: black;
	background-color: yellow;
	width: 60%;
	border-radius: 25px;
}

.table-enclose-div {
	background-color: navy;
	border-radius: 20px;
	width: 49%;
	color: yellow;
	border-width: 10px;
}

.add-dog-btn {
	background-color: #00056e;
	color: #f6d32d;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 127%;
	border-style: inset;
	border-radius: 10px;
	padding: 11px;
}

.add-dog-btn:hover {
	background-color: chartreuse;
	color: black;
}

.add-bag-btn {
	background-color: #00056e;
	color: #f6d32d;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 127%;
	border-style: inset;
	border-radius: 10px;
	padding: 11px;
}

.add-bag-btn:hover {
	background-color: #ed333b;
	color: black;
}

#table-title-main {
	color: magenta;
	font-size: 150%;
	text-decoration: underline;
	text-decoration-color: yellow;
}

.dog-house {
	float: left;
	padding-left: 10px;
}

.vintage-pup {
	float: right;
	padding-right: 10px;
}

/*================  CSS EXCLUSIVE TO NEWDOG PAGE  ======================*/
.newdog-div {
	background-color: #8d2c2c; width : 70%;
	margin: auto;
	border: outset;
	border-width: 7px;
	border-color: #1a5fb4;
	color: black;
	width: 70%;
}

h1.newdog-div {
	color: #f1ff00;
	border: none;
}

input.newdog-div {
	background-color: tomato;
	width: 20%;
	color: black;
	border: inset;
	border-color: #ff0000;
	font-size: 100%;
}

.new-dog-select {
	background: #007551;
	color: white;
	border-style: outset;
	border-radius: 10px;
	font-size: 100%;
}

.yet-another-submit-btn {
	background-color: #bf3f3f;
	border: none;
	color: #f1ff00;
	padding: 5px 13px;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 111%;
	border-style: outset;
	border-radius: 25px;
}

.form-label {
	font-size: 150%;
}

/*============= CSS EXCLUSIVE TO ADD-FOOD-BAG BELOW ================================= */
.special-div {
	background-color: #772953;
	color: #E95420;
	font-size: 125%;
	border: double;
	border-width: 20px;
	height: 100%;
	width: 100%;
}

.special-div-input {
	background-color: black;
	color: #05ff00;
	font-size: large;
	padding: 1px;
}

.wrangle {
	padding-right: 137px;
}

.add-food-btn:hover {
	background-color: #E95420;
	color: #772953;
}

.add-food-btn {
	background-color: #31003f;
	color: #E95420;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 127%;
	border-style: inset;
	border-radius: 9px;
	border-color: #E95420;
	padding: 11px;
}

.dish {
	padding-top: 100px;
	padding-left: 35%;
	width: 450px;
	height: 200px;
}

/*======= CSS EXCLUSIVE TO EDITDOG.JSP =============*/
.bg-div {
	height: 100%;
	background-color: navy;
	border-style: double;
	border-width: 17px;
	border-color: yellow;
	padding: 17px;
	width: 77%;
	margin: auto;
	border-radius: 19px;
}

.yellow-input {
	background-color: #f9ff00;
	color: #000009;
	border-radius: 9px;
	font-size: 101%;
}

.edit-dog-select {
	background: #813d9c;
	color: white;
	border-style: outset;
	border-radius: 10px;
	font-size: 100%;
}

.edit-dog-btn {
	background-color: #63452c;
	color: magenta;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 127%;
	border-style: inset;
	border-radius: 10px;
	padding: 11px;
}

.edit-dog-btn:hover {
	background-color: magenta;
	color: black;
}
